/.org-id-locations
/auto-save-list
/elpa/*
/image-dired/
/oauth2.plstore
/session.*
/tramp
/.cache
/url/
/var/
/transient
/undo-fu-session
/request
/eclipse.jdt.ls
/elpy
/eln-cache
projectile-bookmarks.eld
*.elc
ido.last
recentf
.lsp-session-*
